<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="pagetitle">
              <h1>Usuarios</h1>
              <div class="float-right">
                <a href="#" class="btn btn-primary">Crear Nuevo Usuario</a>
              </div>
            </div>
            <section class="section">
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Nombre(s)</th>
                    <th scope="col">Apellido(s)</th>
                    <th scope="col">Dni</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                        <td>1</td>
                        <td>Carlos</td>
                        <td>Campos</td>
                        <td>43888888</td>
                        <td>crce.aizu@gmail.com</td>
                        <td>Av La Paz cdra 19</td>
                        <td>960311422</td>
                        <td>Administrador</td>
                        <td>
                        <a href="#" data-idusuario=""><i class="bi bi-eye-fill" style="padding-right: 10px;"></i></a>
                        <a href="#"><i class="bi bi-trash-fill"></i></a>
                        </td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  